<!DOCTYPE html>
<html>
  <head>
    <title>Img Deduplication</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/retrieval">My Images</a>
        <a class="navbar-brand" href="/arbitration">Arbitration</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <button class="btn btn-outline-light" id="connectWallet" onclick="">
            Log into Metamask account
          </button>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <h1>Hello, User!</h1>
      <h3 id="connectMessage">Connect Your MetaMask Wallet Here!</h3>
      <h4 style="color: green" id="walletAddress"></h4>
      <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="image_file" class="form-label">Select an image:</label>
          <input
            type="file"
            class="form-control"
            name="image_file"
            id="image_file"
          />
        </div>
        <div class="mb-3">
          <label for="text_file" class="form-label">Select a text file:</label>
          <input
            type="file"
            class="form-control"
            name="text_file"
            id="text_file"
          />
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">
          Submit
        </button>
      </form>
      {% if img_name %}
      <div>
        <h3>
          The image below is the closest match to your image: download it here!
        </h3>
        <form action="./download" method="post">
          <input type="hidden" value="{{ img_name }}" name="img_name" />
          <input
            type="submit"
            value="Download"
            class="btn btn-outline-primary"
          />
        </form>
        <img id="picture" src="data:image/jpeg;base64,{{ img_data }}" />
      </div>
      {% endif %}
    </div>
    <script type="text/javascript">
      window.userWalletAddress = null;
      const connectWallet = document.getElementById("connectWallet");
      const walletAddress = document.getElementById("walletAddress");
      const connectMessage = document.getElementById("connectMessage");

      function checkInstalled() {
        if (typeof window.ethereum == "undefined") {
          alert("MetaMask isnt installed, please install it");
          connectWallet.innerText =
            "MetaMask isnt installed, please install it";
          connectWallet.classList.remove();
          connectWallet.classList.add();
          return false;
        }
        document.getElementById("submitBtn").setAttribute("disabled", "");
        connectWallet.addEventListener("click", connectWalletwithMetaMask);
      }

      async function connectWalletwithMetaMask() {
        const accounts = await window.ethereum
          .request({
            method: "eth_requestAccounts",
          })
          .catch((e) => {
            console.error(e.message);
            return;
          });

        if (!accounts) {
          return;
        }
        document.getElementById("submitBtn").removeAttribute("disabled");
        window.userWalletAddress = accounts[0];
        walletAddress.innerText = window.userWalletAddress;
        connectMessage.innerText = "You are connected to MetaMask!";
        // make an axios call to the backend to send the wallet address
        axios
          .post("http://127.0.0.1:5000/api/wallet", {
            walletAddress: String(window.userWalletAddress),
          })
          .then((res) => {
            console.log(res);
            connectWallet.innerText = "Sign Out";
            connectWallet.removeEventListener(
              "click",
              connectWalletwithMetaMask
            );
            setTimeout(() => {
              connectWallet.addEventListener("click", signOutOfMetaMask);
            }, 200);
          })
          .catch((err) => {
            console.log(err);
          });
      }

      function signOutOfMetaMask() {
        window.userwalletAddress = null;
        walletAddress.innerText = "";
        connectWallet.innerText = "Connect Wallet";
        document.getElementById("submitBtn").setAttribute("disabled", "");
        // make a get axios call to backend to indicate signing out
        axios
          .get("http://127.0.0.1:5000/api/wallet")
          .then((res) => {
            console.log(res);
            connectWallet.removeEventListener("click", signOutOfMetaMask);
            setTimeout(() => {
              connectWallet.addEventListener(
                "click",
                connectWalletwithMetaMask
              );
            }, 200);
          })
          .catch((err) => {
            console.log(err);
          });
      }

      window.addEventListener("DOMContentLoaded", () => {
        axios
          .get("http://127.0.0.1:5000/api/wallet")
          .then((res) => {
            console.log(res);
          })
          .catch((err) => {
            console.log(err);
          });
        checkInstalled();
      });
    </script>
  </body>
</html>
